Repository asapdiscovery/asapdiscovery, pull requests merged in 2023-07, with the labels that each got.

#338 Add schema for Ligands
  asapdiscovery-data/asapdiscovery/data/openeye.py
  asapdiscovery-data/asapdiscovery/data/schema_v2/experimental.py
  asapdiscovery-data/asapdiscovery/data/schema_v2/ligand.py
  asapdiscovery-data/asapdiscovery/data/schema_v2/schema_base.py
  asapdiscovery-data/asapdiscovery/data/tests/test_ligand_schema_v2.py
Labels: refactor, schema

#310 Add postera support for single-target docking wf.
  asapdiscovery-data/asapdiscovery/data/postera/manifold_data_tags.yaml
  asapdiscovery-data/asapdiscovery/data/postera/manifold_data_validation.py
  asapdiscovery-data/asapdiscovery/data/postera/molecule_set.py
  asapdiscovery-data/asapdiscovery/data/tests/test_manifold_data_validation.py
  asapdiscovery-data/asapdiscovery/data/tests/test_postera.py
  asapdiscovery-docking/asapdiscovery/docking/docking.py
  asapdiscovery-docking/asapdiscovery/docking/docking_data_validation.py
  asapdiscovery-docking/asapdiscovery/docking/scripts/dock_small_scale_end_to_end.py
  asapdiscovery-docking/asapdiscovery/docking/tests/test_docking.py
Labels: docking

#243 Add loss plots
  asapdiscovery-ml/asapdiscovery/ml/scripts/plot_data_efficiency.py
  asapdiscovery-ml/asapdiscovery/ml/scripts/plot_loss.py
Labels: ml, small

#339 Add Schema for Targets
  asapdiscovery-data/asapdiscovery/data/dynamic_enum.py
  asapdiscovery-data/asapdiscovery/data/openeye.py
  asapdiscovery-data/asapdiscovery/data/schema_v2/dynamic_properties.py
  asapdiscovery-data/asapdiscovery/data/schema_v2/schema_base.py
  asapdiscovery-data/asapdiscovery/data/schema_v2/target.py
  asapdiscovery-data/asapdiscovery/data/schema_v2/target_type.yaml
  asapdiscovery-data/asapdiscovery/data/testing/test_files.yaml
  asapdiscovery-data/asapdiscovery/data/tests/test_dynamic_enum.py
  asapdiscovery-data/asapdiscovery/data/tests/test_target_schema_v2.py
Labels: refactor, schema

#391 Remove adaptive dask clustering from e2e docking workflow
  asapdiscovery-data/asapdiscovery/data/execution_utils.py
  asapdiscovery-docking/asapdiscovery/docking/scripts/dock_small_scale_end_to_end.py
Labels: tiny
